[report]
omit = 
    *site-packages/*
    *__init__.py*
    *tests/__init__.py*
    *sqlite3*
    *sqlite3/*
    *encodings/ascii.py*
    *classes/__init__.py*
    *classes/__init__.pyc*
    *decimal.py*
    *numbers.py*
    *classes/htmlcov/*
    *classes/sample_people_input.txt*
    *classes/sample_rooms_input.txt*
    *classes/room.pyc*
    *classes/person.pyc*
    *classes/amity.pyc*
    *requirements.txt*
    *classes/.DS_Store*
    *classes/database_tables.pyc*
    *classes/new_amity.db*
    *classes/person.pyc*
    *classes/room.pyc*
    *.gitignore*
    *.vscode/*
    *classes/.coverage*
    *tests/test_amity.py*